
# ==============================================================================
# Build Directorys
# ------------------------------------------------------------------------------

build
.tmp
docs

# ==============================================================================
# Hidden and Temporary Files
# ------------------------------------------------------------------------------

.*
!.gitignore
!.*rc

*~
.*.swp
.*.swo

# ==============================================================================
# Log Files
# ------------------------------------------------------------------------------

logs
*.log
npm-debug.log*

# ==============================================================================
# OS Specific Temporary Files
# ------------------------------------------------------------------------------

.DS_Store
Thumbs.db

# ==============================================================================
# Node Modules
# ------------------------------------------------------------------------------

node_modules

